body {
    background-color: #394A56;
    font-family: "Roboto";
}

.grouped {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E7E8E7;
    border-radius: 10px;
}

form {
    justify-content: space-between;
}

#search-input {
    color: #22303F;
    border:#22303F;
    background-color: #f9f7f7;
    width: 600px;
    padding: 20px 15px;
    border-radius:8px;
}

#current-city {
    font-size: 50px;
}
main {
    margin: 50px auto;
}

.submit-button {
    color: white;
    margin-left: 25px;
    background-color: #264061;
    border: none;
    transition: all 1500ms ease-in-out;
    width: 150px;
    padding: 20px 40px;
    border-radius: 10px;

}


.current-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
}

.current-temperature {
    margin-left: 200px;
    margin-right:auto;
    margin-top: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.current-temperature-value {
    font-size: 55px;
    margin-left: auto;
}

#temperature-icon {
    padding-top: 10px;
    width: 88px;
    height: 88px;
    margin: 10px auto;
}

a {
    color:#22303f
}

